{
	"root": true,

	"extends": "@ljharb",

	"globals": {
		"AggregateError": false
	},

	"rules": {
		"max-params": [2, 3],
		"new-cap": [2, { "capIsNewExceptions": ["GetIntrinsic", "GetIterator", "IsArray", "IterableToList", "OrdinarySetPrototypeOf", "Type"] }],
		"operator-linebreak": [2, "before"],
	},
}
